<!DOCTYPE html>
<html>
    <head>
        <title>HN - TP LOCAL</title>
    </head>
    
    <body>
        <header>
            <h1> Bienvenue chez TP HN.</h1>
            <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        </header>
    </body>
</html>